
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(14, 14, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #dadafa;
  letter-spacing: 1px;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 40px;
  transform: scale(1.1);

}

.left {
  font-size: 1.5rem;
}

.right {
  font-size:2rem;
  text-decoration: none;
  background-color: #0C123C;
  color: rgb(241, 237, 227);
  font-family: "Poppins" , sans-serif;
  animation-direction: alternate-reverse;
}

/* Code For Header Ends Here */
/* Code For Body Starts Here */

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}

.firstSection>div {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.leftsection {
  font-size: 3rem;
}

.leftsection .buttons {
  padding: 50px 0;
}

.leftsection .btn {
  padding: 1.2vh;
  background-color: #9c97f1;
  color: white;
  border: 0.2vh solid white;
  border-radius: 0.5vh;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.8s;
}

.leftsection .btn:hover {
  background-color: white;
  color: #9c97f1;
  transition: 0.4s;
  transform: scale(1.1);
  }


.rightsection img {
  width: 80%;
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
}

.purple {
  color: rgb(170, 105, 228);
  margin-left: auto;
  margin-right: auto;
}

#element {
  color: rgb(170, 105, 228);
}

.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}

.secondsection h1 {
  font-size: 1.9rem;
  height: 8rem;
}

.secondsection .box {
  background: white;
  width: 100%;
  height: 0.2vw;
  margin: 4.6vw 0;
  display: flex; 
  
}

.secondsection .vertical {
  height: 10vh;
  width: 0.1vw;
  background-color: white;
  margin: 0 20vh;
}

.text-gray {
  color: gray;
}

.image-top {
  width: 10vh;
  position: relative;
  top: -6vw;
  left: -0.5vw;
}

.vertical-title {
  position: relative;
  top: 6.5vh;
  width: 15vh;
}

.vertical-desc {
  position: relative;
  top: 8vh;
  color: gray;
  width: 15vh;
  font-style: normal;
}

footer {
  background-color: #0e0e1a;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer div {
  width: 223px;
  
}

.footer-second a {
  text-align: center;
  color: aliceblue;
  display: flex;
  font-size: 12px;
  text-decoration: none;
}

.footer-second a:hover{
  color: rgb(86, 8, 164);
  transition: 0.7s;
  cursor: pointer;
}

.text-center{
  text-align: center;
  padding: 3px;
  box-shadow: 0px -2px 3px #e2e2f5;
}

.footer-third ul li a{
  color: aliceblue;
  text-decoration: none;
  transition: 0.7s
}

.footer-third ul li a:hover{
  color: rgb(86, 8, 164);
  text-decoration: none;

}

.footer-fourth{
  font-size: 15px;
}

.Feedbackbtn{
  background: none;
  color: #333;
  font-weight: bold;
  display: flex;
  line-height: 20px;
  padding: 3px;
  border-radius: 2px 10px 2px 10px;
  box-shadow: 5px 4px 4px #e2e2f5;
  font-size: 15px;
  background-color: #9c97f1;
  transition: 0.5s;
}

.Feedbackbtn:hover{
  transform: scale(0.90);
  filter: brightness(1.3);
  filter: contrast(1.5);
}